.convolutions {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem;

    &-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        width: 400px;

        &-field {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        &-image {
            max-height: calc(100% - 4rem);
            width: 100%;
            border: 2px dashed green;
            border-radius: 10px;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}