<!-- image-upload.component.html -->
<div class="image-upload">
    <form (submit)="onSubmit($event)" class="image-upload-form">
        <label for="fileInput">Upload an Image:</label>
        <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*" />
        <button type="submit" [disabled]="!selectedFile">Submit</button>
    </form>

    <div *ngIf="previewUrl" class="image-preview">
        <h3>Preview:</h3>
        <img [src]="previewUrl" alt="Selected Image" />
    </div>
</div>