<div class="animation">
    <div class="grid-container">
        <div 
            class="grid-item" 
            *ngFor="let item of imageFlattenedTensor; let ind=index"
            [id]="'bf_' + (ind + 1)"
        >
            <span 
                class="grid-item__opacity" 
                [ngClass]="{
                    'black_gb': item <= 0.3
                }"
                [ngStyle]="{'opacity': item, 'color': 'black'}"
            >
                {{returnDecimal(item)}}
            </span>
        </div>
    </div>
    <div class="animation__filter">
        <select 
            class="form-select" 
            aria-label=".form-select-lg example" 
            [value]="selectedFilterValue"
            (change)="onFilterChange($event)"
        >
            <option value="" selected>Select Filter Type</option>
            <option *ngFor="let fitler of filterTypes" 
                [value]="fitler.value"
            >
                {{ fitler.viewValue }}
            </option>
        </select>
        <div [class]="'grid-container filter grids-' + filter.noOfCells" [id]="'filter'">
            <div class="grid-item" *ngFor="let item of [].constructor(filter.noOfCells); let i = index">
                    <ul class="grid-item__filter" *ngIf="isStartedAnimation">
                        <li>{{defaultFilter[i]}}</li>
                        <li>X</li>
                        <li>{{animatorGrid?.[0]}}</li>
                    </ul>
                <span *ngIf="!isStartedAnimation"> {{defaultFilter[i]}} </span>
            </div>
        </div>
        <button class="btn btn-primary" (click)="startAnimation()">Start Animation</button>
    </div>
    <div class="grid-container">
        <div 
            class="grid-item" 
            *ngFor="let item of filterAppliedImageFlattenedTensor; let ind=index"
            [id]="'af_' + (ind + 1)"
        >
            <div class="grid-item__opacity" [ngClass]="{'black_gb': item < 0.3}" [ngStyle]="{'opacity': item, 'color': 'black'}">
                <span 
                    class="grid-item__opacity" 
                    [ngClass]="{
                        'black_gb': item <= 0.3
                    }"
                    [ngStyle]="{'opacity': item, 'color': 'black'}"
            >
                {{this.filterAppliedImageFlattenedTensor?.[ind]}}
            </span>
            </div>
        </div>
    </div>
    <div class="grid-container animator" #animation [ngStyle]="!isStartedAnimation ? {'display': 'none'} : {}">
        <div class="grid-item" *ngFor="let item of [].constructor(filter.noOfCells); let i=index">
            <span>{{animatorGrid?.[i] ?? ''}}</span>
        </div>
    </div>
</div>