<div class="animation">
    <div class="grid-container">
        <div class="grid-item" *ngFor="let item of imageTensor">
            <div class="grid-item__opacity" [ngClass]="{'black_gb': item <= 0.3}" [ngStyle]="{'opacity': item, 'color': 'black'}">
                <!-- <span></span> -->
                <!-- <span>{{returnDecimal(item)}}</span> -->
                {{returnDecimal(item)}}
            </div>
        </div>
    </div>
    <div class="">
        <!-- <img [src]="imageUrl" [alt]="'image'"/> -->
    </div>
</div>